<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.asset.model.dao.AssetDao">
	<select id="selectAllAsset"
	resultType="kr.or.iei.asset.model.dto.Asset">
	select asset_no as assetNo,
	       asset_name as assetName,
	       asset_code as assetCode,
	       asset_type as assetType,
	       asset_currency as assetCurrency,
	       low_52 as low52,
	       high_52 as high52
	  from tbl_asset
	</select>
	
	<!-- 매수 -->
	<insert id="insertBuyAsset"
	parameterType="TradeDto">
	
	insert into tbl_trade values
	(
	seq_trade_no.nextval,
	#{userNo},
	#{assetNo},
	#{tradeType},
	#{amount},
	#{currentPrice},
	default
	)	
	</insert>

	<update id="resultPayWallet"
	parameterType="TradeDto">
	
	update tbl_wallet
		set wallet_cash_balance = wallet_cash_balance - (#{amount}*#{currentPrice})
	  where user_no = #{userNo}
	</update>
</mapper>
