<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.asset.model.dao.AssetDao">
	<select id="selectAllAsset"
	resultType="kr.or.iei.asset.model.dto.Asset">
	select asset_no as assetNo,
	       asset_name as assetName,
	       asset_code as assetCode,
	       asset_type as assetType,
	       asset_currency as assetCurrency,
	       low_52 as low52,
	       high_52 as high52
	  from tbl_asset
	</select>
	
	<!-- 주식리스트 주식 고유 번호 조회 -->
	<select id="selectAssetNo"
	parameterType="int"
	resultType="int">
	
	select asset_No as assetNo 
	from tbl_asset 
	where asset_code = #{assetCode}
	
	</select>
	
	<!-- 매수 -->
	<insert id="insertBuyAsset"
	parameterType="TradeDto">
	
	insert into tbl_trade values
	(
	seq_trade_no.nextval,
	#{userNo},
	#{assetNo},
	#{tradeType},
	#{amount},
	#{currentPrice},
	default
	)	
	</insert>
	
	<insert id="mergePortfolio" parameterType="TradeDto">
    MERGE INTO tbl_portfolio p
    USING (
        SELECT 
            #{userNo} AS user_no,
            (SELECT user_nickname || 'portfolio' FROM tbl_user WHERE user_no = #{userNo}) AS portfolio_name
        FROM dual
    ) src
    ON (
        p.user_no = src.user_no AND 
        p.portfolio_name = src.portfolio_name
    )
    WHEN NOT MATCHED THEN
    INSERT (
        portfolio_no, user_no, portfolio_name
    )
    VALUES (
        seq_portfolio_no.nextval,
        src.user_no,
        src.portfolio_name
    )
</insert>

	<select id="searchHoldingAssetNo"
	parameterType="TradeDto"
	resultType="int">
	
	select count(*) from tbl_holding 
		where user_no = #{userNo} and asset_no = #{assetNo} 
	
	</select>
	
	<update id="mergeHolding" parameterType="TradeDto">
  MERGE INTO tbl_holding h
  USING dual
  ON (h.user_no = #{userNo} AND h.asset_no = #{assetNo})
  WHEN MATCHED THEN
    UPDATE SET 
      holding_asset_quantity = h.holding_asset_quantity + #{amount},
      holding_avg_price = 
        ROUND((
          h.holding_asset_quantity * h.holding_avg_price + #{amount} * #{currentPrice}
        ) / (h.holding_asset_quantity + #{amount}), 2)
  WHEN NOT MATCHED THEN
    INSERT (
      holding_no,
      user_no,
      asset_no,
      portfolio_no,
      holding_asset_quantity,
      holding_avg_price
    ) VALUES (
      SEQ_HOLDING_NO.NEXTVAL,
      #{userNo},
      #{assetNo},
      (SELECT portfolio_no FROM tbl_portfolio WHERE user_no = #{userNo}),
      #{amount},
      #{currentPrice}
    )
</update>
	
	
	<!-- 매도 내역 insert -->
	<insert id="watchListSellAsset" parameterType="TradeDto">
  		INSERT INTO tbl_trade VALUES (
    		seq_trade_no.nextval,
    		#{userNo},
    		#{assetNo},
    		'SELL',
    		#{amount},
    		#{currentPrice},
    	  	DEFAULT
  		)
	</insert>
	
	
	<!-- 매수 한 만큼 지갑 차감 -->
	<update id="resultPayWallet"
	parameterType="TradeDto">
	
	update tbl_wallet
		set wallet_cash_balance = wallet_cash_balance - (#{amount}*#{currentPrice})
	  where user_no = #{userNo}
	</update>
	
	<!-- 매도 한 만큼 현재 자산 추가 -->
	<update id="resultSellPayWalletStep1" parameterType="TradeDto">
  		UPDATE tbl_wallet
  		SET wallet_cash_balance = wallet_cash_balance + (#{amount} * #{currentPrice})
  		WHERE user_no = #{userNo}
	</update>
	
	<update id="resultSellPayWalletStep2" parameterType="TradeDto">
  		 UPDATE tbl_wallet w
    SET w.wallet_total_valuation = (
        w.wallet_cash_balance + (
            SELECT NVL(SUM(h.holding_asset_quantity * #{currentPrice}), 0)
            FROM tbl_holding h
            JOIN tbl_asset a ON h.asset_no = a.asset_no
            WHERE h.user_no = w.user_no
        )
    )
    WHERE w.user_no = #{userNo}
	</update>
	
	

</mapper>
