<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.watchlist.model.dao.WatchlistDao">
	
	<insert id="addWatchlist" parameterType="map">
	  INSERT INTO tbl_watchlist (
	    user_no, asset_code
	  ) VALUES (
	    #{userNo}, #{assetCode}
	  )
	</insert>


	<delete id="deleteWatchlist">
	    DELETE FROM tbl_watchlist
	    WHERE user_no = #{userNo}
	          AND asset_code = #{assetCode}
	</delete>
	
	<!-- 워치리스트 조회 - 즐겨찾기 추가 제거용 -->
	<select id="selectWatchlistByUserNo" parameterType="string" resultType="Watchlist">
	    SELECT w.asset_code as assetCode, a.asset_name as assetName, a.high_52 as high52, a.low_52 as low52
	    FROM tbl_watchlist w
	    JOIN tbl_asset a ON w.asset_code = a.asset_code
	    WHERE w.user_no = #{_parameter}
	</select>
	
	<!-- 위치리스트 주식 고유 번호 조회 -->
	<select id="selectAssetNo"
	parameterType="int"
	resultType="int">
	
	select asset_No as assetNo 
	from tbl_asset 
	where asset_code = #{assetCode}
	
	</select>
	
	<!-- 워치리스트 매수 -->
	<insert id="insertWatchlistBuyAsset"
	parameterType="TradeDto">
	
	insert into tbl_trade values
	(
	seq_trade_no.nextval,
	#{userNo},
	#{assetNo},
	#{tradeType},
	#{amount},
	#{currentPrice},
	default
	)	
	
	</insert>
	
<insert id="mergePortfolio" parameterType="TradeDto">
    MERGE INTO tbl_portfolio p
    USING dual
    ON (p.user_no = #{userNo})
    WHEN NOT MATCHED THEN
      INSERT (portfolio_no, user_no, portfolio_name)
      VALUES (
        seq_portfolio_no.nextval,
        #{userNo},
        (SELECT user_nickname || 'portfolio' FROM tbl_user WHERE user_no = #{userNo})
      )
	</insert>
	
<update id="mergeHolding" parameterType="TradeDto">
  MERGE INTO tbl_holding h
  USING dual
  ON (h.user_no = #{userNo} AND h.asset_no = #{assetNo})
  WHEN MATCHED THEN
    UPDATE SET 
      holding_asset_quantity = h.holding_asset_quantity + #{amount},
      holding_avg_price = 
        ROUND((
          h.holding_asset_quantity * h.holding_avg_price + #{amount} * #{currentPrice}
        ) / (h.holding_asset_quantity + #{amount}), 2)
  WHEN NOT MATCHED THEN
    INSERT (
      holding_no,
      user_no,
      asset_no,
      portfolio_no,
      holding_asset_quantity,
      holding_avg_price
    ) VALUES (
      SEQ_HOLDING_NO.NEXTVAL,
      #{userNo},
      #{assetNo},
      (SELECT portfolio_no FROM tbl_portfolio WHERE user_no = #{userNo}),
      #{amount},
      #{currentPrice}
    )
</update>
	
	
	<!-- 매수 지갑 업데이트 -->
	<update id="resultPayWallet"
	parameterType="TradeDto">
	
	update tbl_wallet
		set wallet_cash_balance = wallet_cash_balance - (#{amount}*#{currentPrice})
	  where user_no = #{userNo}
	</update>
	
	
	<!-- 매도 내역 insert -->
	<insert id="watchListSellAsset" parameterType="TradeDto">
  		INSERT INTO tbl_trade VALUES (
    		seq_trade_no.nextval,
    		#{userNo},
    		#{assetNo},
    		#{tradeType},
    		#{amount},
    		#{currentPrice},
    	  	DEFAULT
  		)
	</insert>
	
	<!-- 보유 수량 감소 -->
	<update id="mergeHoldingSell" parameterType="TradeDto">
  		UPDATE tbl_holding
  		SET holding_asset_quantity = holding_asset_quantity - #{amount}
  		WHERE user_no = #{userNo} AND asset_no = #{assetNo}
	</update>
	
	<!-- 매도 시 지갑 현금 증가 -->
	<update id="addSellCashToWallet" parameterType="TradeDto">
  		UPDATE tbl_wallet	
  			SET wallet_cash_balance = wallet_cash_balance + (#{amount} * #{currentPrice})
  		  WHERE user_no = #{userNo}
	</update>
	
	<!-- 매도 지갑 업데이트 -->
	<update id="resultSellPayWallet" parameterType="TradeDto">
  	 UPDATE tbl_wallet w
  		SET wallet_total_valuation = wallet_cash_balance + (
    		SELECT NVL(SUM(h.holding_asset_quantity * t2.trade_price), 0)
          FROM tbl_holding h
    			JOIN tbl_trade t2 ON h.asset_no = t2.asset_no
    		WHERE h.user_no = w.user_no
      			AND t2.user_no = w.user_no
      			AND t2.trade_date = (
        			SELECT MAX(t3.trade_date)
        		  	FROM tbl_trade t3
        		      WHERE t3.asset_no = h.asset_no
          					AND t3.user_no = w.user_no
      				)
  			 )
  		  WHERE w.user_no = #{userNo}
	 </update>
	
	
	
	
	
	<!-- 워치리스트 메인 페이지 조회 -->
	
	

</mapper>
