/* Join.jsx */

.join-wrap .input-wrap {
    padding: 10px 30px;
}
.join-button-box {
}
.join-button-box>button {
    width: 400px;
}

/* Login.jsx */
.login-wrap {
  
  width: 500px;
  min-height: 630px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
}

.login-wrap >div {
    margin-left: 1250px !important;
    margin-top: 100px !important;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    padding: 44px;
    background: white;
    border-radius: 12px;
}

.join-wrap {
    width: 1200px;
    max-height: 800px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard', sans-serif;
}



.join-wrap >div {
    margin-left: 460px !important;
    margin-top: 50px !important;
    width: 500px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    padding: 44px;
    background: white;
    border-radius: 12px;
    justify-content: center;
}

.mypage-wrap {
    width: 1800px;
    max-height: 620px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard', sans-serif;

}


.mypage-div {
    margin-top: 80px !important;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    
}

.tbl {
  width: 700px;
  margin: 0 auto;
}

.tbl th,
.tbl td {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}



.page-title {
    color: black !important;
}

#pwChg-title {
    color: white !important;
}


/* th 별도 스타일 */
.tbl th {
  width: 140px;
  font-weight: bold;
  background-color: #f8f8f8;
}

/* td 안에 input 스타일 */
.input-item input[type="text"] input-item input[type="password"]{
  width: 600px;
  padding: 8px 10px;
  border: 1px solid #ccc !important;
  border-radius: 6px;
  box-sizing: border-box;
  
}

.pwChg input[type="password"] {
  width: 200px !important;
}

/* 프로필 이미지 스타일 */
.profile-img-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 10px;
  justify-content: left;
}

.login-wrap .input-wrap {
    padding: 30px;
}

.pwChg-wrap {
    width: 50%;
    margin-left: 25%;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-group > button,
.button-group > img {
  flex: 1;
  height: 35px;
}

.button-group > button {
    width: 150px;
    text-align: center;
}

.login-button-box{
    padding: 30px;
}
.login-button-box > button {
    width: 100%;
}
.member-link-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.member-info-section input {
    background-color: #121212;
    outline: none;
    border-bottom: none;
    color: white;
    padding-left: 15px !important;

}

.my-info th {
    background-color: black;
    width: 300px;
    color: white !important;
}


.account-box {
    display: flex;

}

.account-info {
    width: 100%;

}
.account-info > span {
    font-size: 20px;
    color: white;
}

.account-info span:first-child {
}

.account-info > div {
    margin-bottom: 10px;
}
.passwordChg span {
    padding-left: 70%;
    font-size: 14px;
    color: white;
}

.account-info > div > span:hover {
    cursor : pointer;
}

.my-info label {
    color:white;
}

